@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  input:where(:not([type])),
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply rounded-md border-stone-300 shadow focus:border-indigo-500 focus:ring-2 focus:ring-offset-2;
  }

  [type="checkbox"],
  [type="radio"] {
    @apply rounded-md border-stone-300 shadow;
  }
}

.markdown h1 {
  @apply text-4xl;
}

.markdown h2 {
  @apply text-3xl;
}

.markdown h3 {
  @apply text-2xl;
}

.markdown h4 {
  @apply text-xl;
}

.markdown h5 {
  @apply text-lg;
}

.markdown h6 {
  @apply text-base;
}

.markdown ol {
  list-style: decimal;
}

.markdown ul {
  list-style: disc;
}

.markdown a {
  @apply text-blue-500 hover:underline;
}

.markdown blockquote {
  @apply relative my-2 ml-2 pl-3;
}

.markdown blockquote::before {
  @apply absolute left-0 block h-full w-1 rounded-full bg-stone-300;
  content: "";
}

.markdown code {
  @apply rounded-md bg-stone-100 px-2 py-1;
}
